:root {
    --primary: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 70%);
    --tertiary: hsl(209, 100%, 50%);
}
/* App.jsx */
.app {
    display: flex;
    padding-top: 10rem;
    flex-direction: column;
    justify-content: space-evenl;
    align-items: center;
    height: 100%;
}

.dictation-container{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    width: 50%;
}

.stop-button, .start-button {
    font-weight: 800;
    padding: 1rem 1rem;
    border: none;
    outline: 2px solid var(--secondary); 
    outline-offset: 8px;
    cursor: pointer;
}

.stop-button {
    background-color: hsl(10, 80%, 50%);
    color: white;
    border-radius: 100%;
}

.start-button {
    background-color: hsl(120, 80%, 50%);
}

/* components/Header.jsx */
.header-container {
    position: absolute;
    top: 0;
    outline: 2px solid var(--secondary);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logout-button {
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 1rem 1rem;
    cursor: pointer;
    margin: 1rem;
}

.logout-button:hover {
    background-color: var(--tertiary);
    color: white;
}

.header-title{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    place-self: center;
    margin: 1rem
}

.header-user{
    display: flex;
    gap: 1rem;
}

.header-username{
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}

/* components/Records.jsx */
.records-container {
    width: 50%;
    outline: 2px solid var(--secondary);
    border-radius: 1rem;
}

.records-list {
    overflow-y: scroll;
    height: 50vh;
    padding: 1rem;
}

.records-nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary);
}

/* date between buttons */
.records-nav > h3 {
    align-self: center;
}

.records-nav-button {
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.records-nav-button:hover {
    background-color: var(--tertiary);
    color: white;
}

.records-nav-button:disabled {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 20%);
    cursor: not-allowed;
}
.records-nav-button:hover:disabled {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 20%);
}


#date {
    color: gray;
}

.button {
    border: none;
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    cursor: pointer;
}

/* components/AuthForm.jsx */
.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.form-title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.form-submit {
    width: 100%;
    font-size: 1rem;
    margin: 2rem 0;
    border: none;
    align-self: center;
    color: white;
    background-color: var(--tertiary);
    padding: 1rem;
    cursor: pointer;
}

.form-alt {
    display: flex;
    gap: 1rem;
}

.form-alt-link {
    color: var(--tertiary);
    background-color: black;
    cursor: pointer;
    /* remove default button styling */
    border: none;
    padding: 0;
    font: inherit;
}

.input {
    width: 100%;
    margin: .5rem 0;
    padding: .5rem 0;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 90%);
    border: none;
}

.input-label {
    font-size: 1rem;
    text-align: left;
}
